{% extends "base.html" %}

{% block content %}
<div class="result-screen defeat" data-screen-shake data-sound="defeat">
    <h1>Defeat</h1>
    <p class="page-subtitle">You have been slain by {{ monster_name }}...</p>

    <div class="defeat-msg">
        <p>Your adventure has come to an end. But fear not, brave adventurer -
        you may rise again to face the challenges that await.</p>
    </div>

    <div class="btn-group mt-3">
        <a href="/character/new" class="btn btn-primary">Create New Character</a>
        <a href="/" class="btn btn-secondary">Return Home</a>
    </div>
</div>
{% endblock %}
